html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #00203f;
    height: 100%;
    overflow-y: visible;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    text-align: center;
}



/* css for nav bar */
.icon-bar {
    height: 100%;
    width: 92px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232323;
    overflow: auto;
    padding-top: 20px;
}

.icon-bar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px
}

.icon-bar a {
    padding: 16px;
    text-align: center;
    color: #000000;
    display: block;
}

.material-icons {
    font-size: 54px;
}

.icon-bar a.active {
    color: white;
    background-color: #49db9e;
}

.icon-bar a:hover:not(.active) {
    color: white;
    background-color: #49db9e;
    transition-duration: 0.7s;
}

/* end of nav bar css */

.main {
    margin-left: 92px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 1px 16px;
    text-align: center;
    height: 100%;
    color: white;
}

/* css for main title */
.title {
    margin: auto;
    width: 700px;
    text-align: center;
}

.main h1 {
    font-size: 80px;
    text-align: center;
    color: #fa4454;
}

a {
    text-decoration: none;
    text-align: center;
}

.label {
    padding: 1px 3px 2px;
    color: #ffffff;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
}

.title:hover a h1.new-label span {
    display: none;
    text-align: center;
    text-decoration: none;
}
/* end of title css */


/* css for david */
.title2 {
    margin: auto;
    width: 330px;
}

.main h2 {
    font-size: 60px;
}

.word {
    color: #49db9e;
}

.title2:hover a .new-label span {
    display: none;
    text-align: center;
    text-decoration: none;
}
/* end of css for david */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.about_me {
    margin-left: 84px;
    margin-right: -8px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 1px 16px;
    text-align: left;
    height: 100%;
    color: white;
}

.about_me h2{
    margin-bottom: 15px;
}

.left{
    background-color: white;
    float: left;
    width: 44%;
    margin-left: 5px;
    height:585px;
}

.left img {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
    width: 70%;
    border-style:solid;
    border-color:#49db9e;
    border-width:8px;
    border-radius: 13px;
}

.interests{
    margin-left: 10px;
    margin-right: 10px;
    background: #49db9e;
    color: white;
    border-width:8px;
    border-radius: 13px;
}

.interests h3{
    margin-left: 10px;
    margin-bottom: 0px;
}

.interests ul {
    margin-left:10px;
    font-size: 19px;
}

.right{
    background-color: white;
    float: right;
    width: 55%;
    margin-right: -5px;
    height:585px;
}
*{
    box-sizing: border-box;
}
.bubble1 {
    float: right;
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 0px;
    width: 140px;
    max-width: 100%;
    background: #fa4454;
    border-radius: 10px;
    padding-top:20px;
    padding-right:10px;
    margin-top: 25px;
    margin-right: 10px;
    text-align: right;
    color: #fff;
    z-index: 1;
    height:auto;
}

.bubble-top-right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 24px solid#fa4454;
    border-top: 12px solid #fa4454;
    border-bottom: 20px solid transparent;
    left: 72px;
    bottom: -14px;
    z-index: -1;
}
.bubble2 {
    float: left;
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 500px;
    background: #49db9e;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 10px;
    text-align: left;
    color: #fff;
    z-index: 1;
}

.bubble-top-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #49db9e;
    border-right: 12px solid transparent;
    border-top: 12px solid #49db9e;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -14px;
    z-index: -1;
}

.bubble3 {
    float: right;
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 0px;
    width: 420px;
    background: #fa4454;
    border-radius: 10px;
    padding-top:20px;
    padding-right:10px;
    margin-top: 30px;
    margin-right: 10px;
    text-align: right;
    color: #fff;
    z-index: 1;
}

.bubble-bottom-right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 24px solid#fa4454;
    border-top: 12px solid #fa4454;
    border-bottom: 20px solid transparent;
    left: 352px;
    bottom: -14px;
    z-index: -1;
}

.bubble4 {
    float: left;
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 500px;
    background: #49db9e;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 10px;
    padding-right: 10px;
    text-align: left;
    color: #fff;
    z-index: 1;
}

.bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #49db9e;
    border-right: 12px solid transparent;
    border-top: 12px solid #49db9e;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -14px;
    z-index: -1;
}

.portfolio{
    margin-left: 84px;
    margin-right: -8px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 1px 16px;
    text-align: left;
    height: 100%;
    color: white;
}

.card-body {
    min-height: 200px;
    min-width: 300px;
    margin-right: 20px;
    color: black;
    text-align: center;
    padding: 10px;
}


.scroll{
    display: none;
}
